// cores...
capri = '#2c3e50'
second = '#29636d'
thrird = '#6fc5bc'
fourth = '#47cbda'
teal = '#64ffda'

a
  color: capri
  text-decoration: none
  img
    border: 0px

::-moz-selection,
::selection
  background-color:teal
  color: white;

.android-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.android-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: second !important;
  color: black !important;
}
